body {
  font-size: 2rem;
}
div,
aside,
button {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.printableArea {
  position: relative;
  max-width: 1000px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.printableArea .container {
  width: 1755;
  height: 1275;
}
.printableArea .container img {
  width: 100%;
  height: 100%;
}

@media print {
  body * {
    display: none;
  }
  #printableArea,
  #printableArea * {
    display: block;
  }
}
